<h1>Add a comment to a movie:</h1>
<h3>Movie id: <%= a = params[:id] %></h3>
<P><%= simple_form_for [@list, @bookmark] do |f| %>

  <%= f.association :movie%>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
</p>

<%= link_to "ðŸ—’ï¸ List Index ", lists_path %><%= link_to "|  ðŸ”– Bookmarks Index", bookmarks_path %>
<p></p>
<%= link_to "ðŸŽ¥ Movies Index", movies_path %>
<p></p>
