<h1>Movie <%= @movie.title %></h1>
<%= @movie.overview %>
<p></p>
<%= @movie.poster_url %>
<p></p>
<h3>Rating: <%= @movie.rating %></h3>

<%= link_to "ðŸ—’ï¸ List Index", lists_path %>
<%= link_to " | ðŸŽ¥ Movies Index", movies_path %>
